


<div class="bg-img animated fadeIn fast">
  <div class="content">
    <header>Ingresa tu cuenta</header>
    <form action="#" (ngSubmit)="login()">
      <div class="field">
        <span class="fa fa-user"></span>
        <input type="email" required placeholder="Email" name="email" [(ngModel)]="email">
      </div>
<div class="field space">
        <span class="fa fa-lock"></span>
        <input type="password" class="pass-key" required placeholder="Password" name="password" [(ngModel)]="password">
        <span class="show">SHOW</span>
      </div>
<div class="pass">
        
      </div>
<div class="field">
        <input type="submit" value="Entrar" style="cursor: pointer;">
      </div>
</form>

</div>
</div>


